/* About.module.scss */
@import '../../styles/variables.scss';

.wrapper {
    background: transparent;
    display: flex;
    gap: var(--space-6);
    flex-direction: column;

    h2 {
        font-size: 2em;
        margin-bottom: var(--space-3);

        @media (max-width: 768px) {
            margin-bottom: var(--space-5);
        }
    }
    p,
    ul {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: var(--p-text-size);
        line-height: var(--line-height-normal);
    }
}

.welcome_msg {
    margin-top: var(--space-5);
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;

    p {
        font-weight: 500;
        font-size: 1.45em;

        font-style: oblique;
        background: linear-gradient(
            to right,
            rgb(53, 84, 57),
            rgb(121, 176, 83)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: fadeIn 1s ease-in 1s forwards; /* Add 'forwards' to keep the final state */
        pointer-events: none;
        opacity: 0; /* Ensure the element is initially invisible */
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @media (max-width: 768px) {
        font-size: var(--font-sx);
        padding-inline: var(--space-5);
        padding-block: var(--space-5);
        height: auto;
    }
}

.author_bio_wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--space-5) var(--space-6);
    justify-content: center;
    padding: var(--space-5);

    .bio_image_container {
        flex: 1; /* 40% width for the image container */
        max-width: 200px;
        // outline: double 4px black;

        .bio_image {
            margin-inline: var(--space-5);
            margin-top: var(--space-5);
            width: 100%;
            height: 100%;
            max-width: 200px;
            max-height: 230px;
            object-fit: cover;
            border-radius: 35px; /* Add border radius as needed */
        }
    }

    .bio_text_container {
        flex: 2;
        padding: var(--space-5);
    }

    @media (max-width: 768px) {
        flex-direction: column;
        border: 1px double transparent;
        padding: 0;
    }
}

.blog_focus_wrapper {
    padding-inline: var(--space-6);
    padding-block: var(--space-5);
    margin-bottom: var(--space-3);

    .list {
        padding-left: 40px; /* Adjust as needed */
        list-style-type: disc; /* Ensure list style is set */
        line-height: var(--line-height-dense);
        .listItem {
            margin-block: 1em;
            font-size: 0.85em;
            // margin-bottom: 10px; /* Optional: adds spacing between list items */
        }
    }

    .signature {
        padding-block: var(--space-3);
        color: red;
        font-weight: 500;
    }
    @media (max-width: 768px) {
        margin-bottom: var(--space-7);
    }
}

.welcome_msg,
.author_bio_wrapper,
.blog_focus_wrapper {
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(32, 81, 7, 0.55);
    text-align: justify;
    text-justify: inter-word;
}
