/* Login.module.scss */
@import '../../styles/variables.scss';

html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    box-sizing: border-box;
    background: #676279;
    padding: 4em;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}

.login_panel {
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #2b2738;
    border-radius: 15px;
    height: 600px;
    width: 1000px;
    padding: 1em;
}
.left_image {
    margin-right: 2em;
    width: 100%;
    height: 100%;
}
.login_image {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
}

.right_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 2em;
    width: 100%;
    height: 100%;
    gap: 2em;
    flex-grow: 1;

    a{
        color: rgb(36, 207, 36);
    }
}
.textbox {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #8278ae;
    background-color: #3b364c;
    color: #716e7f;
}
